<%= form_for(event) do |f| %>
<% if event.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(event.errors.count, "error") %>
        prohibited this event from being saved:</h2>

    <ul>
        <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<!-- <div class="field form-group">
  , {}, {class: 'form-control'}
 -->

<div class="field form-group">
    <%= f.label :date %>
    <%= f.date_select :date %>
    <%= f.label :start_time %>
    <%= f.time_select :start_time, {combined: true, minute_step: 30}%>
</div>

<div class="field form-group"></div>

<div class="field form-group">
    <%= f.label :venue %>
    <%= f.text_field :venue, {class: 'form-control'} %>
</div>

<div class="field form-group">
    <%= f.label :description %>
    <%= f.text_field :description, {class: 'form-control', rows: 5} %>
</div>

<div class="field form-group">
    <%= f.label :no_of_books %>
    <%= f.number_field :no_of_books, {class: 'form-control'} %>
</div>

<div class="field form-group">
    <%= f.label :no_of_slots %>
    <%= f.number_field :no_of_slots, {class: 'form-control'} %>
</div>

<div class="field form-group">
    <%= f.label :no_of_ppl_per_book %>
    <%= f.number_field :no_of_ppl_per_book, {class: 'form-control'} %>
</div>

<div class="field form-group">
    <%= f.label :duration_per_slot %>
    <%= f.number_field :duration_per_slot, {class: 'form-control'} %>
</div>

<div class="actions">
    <%= f.submit %>
</div>
<% end %>
