<p id="notice"><%= notice %></p>

<%= image_tag(@book.image_url, class: "medium_profile_icon") %></td>

<p>
<strong>User:</strong>
<%= @book.user.name %>
</p>

<p>
<strong>Category:</strong>
<%= @book.category.category %>
</p>

<p>
<strong>Description:</strong>
<%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %>
|
<%= link_to 'Back', books_path %>
